body { background-color: lightgray; color: black; font-family: Verdana, Arial, sans-serif; }
header { background-color: red; grid-area: header; }
nav { background-color: orange; grid-area: nav }
nav a { text-decoration: none; background-color: gray; }
nav a:link { color: white; }
nav a:visited { color: lightskyblue; }
nav a:hover { color: lightskyblue; }
main { background-color: lime; grid-area: main }
aside { background-color: cyan; grid-area: aside; }
footer { background-color: purple; grid-area: footer; }
table { width: 90%; margin: auto; border-spacing: 0px; background-color: transparent;}
td, th { padding: 10px; }
.altrow { background-color: #D2B48E; }
#homepage { display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
        "header header"
        "nav main"
        "footer footer";
}
#contentpage { display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
        "header header header"
        "nav main aside"
        "footer footer footer";
}
