body { background-image: url(https://github.com/caseysova/CIS216/blob/main/final/image/more-leaves-on-green.png?raw=true); 
    color: black; 
    font-family: Verdana, Arial, sans-serif; 
}
header { background-image: url(https://github.com/caseysova/CIS216/blob/main/final/image/headerpicture.jpeg?raw=true); 
    grid-area: header; 
}
h1 { padding-left: 3em; }
nav { background-color: #88E5EC; grid-area: nav }
nav a { text-decoration: none; }
nav ul { list-style-type: none; padding-left: 1em; }
nav a:link { color: black; }
nav a:visited { color: #489ed8; }
nav a:hover { color: #56C188; }
main { background-color: #EEF7F7; grid-area: main }
main h2 { text-align: center; }
main p { padding: 5px; }
.center { display: block; margin-right: auto; margin-left: auto; }
aside { background-color: #B8E6CD; grid-area: aside; }
aside h3 { text-align: center; }
footer { background-color: #56C188; font-style: italic; text-align: center; grid-area: footer; }
table { width: 90%; margin: auto; border-spacing: 0px; background-color: transparent;}
td, th { padding: 10px; }
.altrow { background-color: #489ed8; }
#wrapper { width: 80%;
    margin-right: auto;
    margin-left: auto;
    background-color: #231814;
    min-width: 900px;
    max-width: 1280px;
    box-shadow: 5px 5px 5px;
}
#homepage { display: grid;
    grid-template-columns: 0.5fr 4.5fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
        "header header"
        "nav main"
        "footer footer";
}
#contentpage { display: grid;
    grid-template-columns: 0.5fr 3fr 1.5fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
        "header header header"
        "nav main aside"
        "footer footer footer";
}
/*for mobile CSS*/
@media only screen and (max-width: 555px) {
    #homepage {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 0.5fr 3fr auto;
        grid-template-areas: 
            "header"
            "nav"
            "main"
            "footer";
    }
    #contentpage {
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-template-rows: auto 0.25fr 4fr auto;
        grid-template-areas: 
            "header header"
            "nav nav"
            "main aside"
            "footer footer";
    }
    nav {
        text-align: center;
        font-size: 1.5em;
        font-weight: bold;
    }        
}
/*for desktop CSS*/
@media only screen and (min-width: 1200px) {
    #junimo {
        background-image: url(https://github.com/caseysova/CIS216/blob/main/final/image/junimo2.png?raw=true);
        background-size: 100% 100%;
        height: 80px;
        width: 80px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

