body { background-image: url(https://github.com/caseysova/CIS216/blob/main/final/image/more-leaves-on-green.png?raw=true); 
    color: black; 
    font-family: Verdana, Arial, sans-serif; 
}
header { background-image: url(https://github.com/caseysova/CIS216/blob/main/final/image/cloudheader.jpeg?raw=true); grid-area: header; }
nav { background-color: #A6D0E2; grid-area: nav }
nav a { text-decoration: none; text-align: center; }
nav ul { list-style-type: none; }
nav a:link { color: whitesmoke; }
nav a:visited { color: #56C188; }
nav a:hover { color: #56C188; }
main { background-color: #D4E4E5; grid-area: main }
main h2 { text-align: center; }
aside { background-color: #B8E6CD; grid-area: aside; }
aside h3 { text-align: center; }
footer { background-color: #56C188; font-style: italic; text-align: center; grid-area: footer; }
table { width: 90%; margin: auto; border-spacing: 0px; background-color: transparent;}
td, th { padding: 10px; }
.altrow { background-color: #A6D0E2; }
#wrapper { width: 80%;
    margin-right: auto;
    margin-left: auto;
    background-color: #231814;
    min-width: 900px;
    max-width: 1280px;
    box-shadow: 5px 5px 5px;
}
#homepage { display: grid;
    grid-template-columns: 0.5fr 4.5fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
        "header header"
        "nav main"
        "footer footer";
}
#contentpage { display: grid;
    grid-template-columns: 0.5fr 3fr 1.5fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
        "header header header"
        "nav main aside"
        "footer footer footer";
}
