body { background-color: lightgray; color: black; font-family: Verdana, Arial, sans-serif; }
header { background-color: lightgray; text-align: left; }
h1 { line-height: 100%; }
nav { text-align: left; height: 150px; background-image: url(https://github.com/caseysova/CIS216/blob/main/module10/image/nav.jpg?raw=true); }
footer { background-color: gray; font-size: .60em; font-style: italic; text-align: center; }
#wrapper { width: 80%; margin-right: auto; margin-left: auto; }
nav a { text-decoration: none; background-color: gray; bottom: 2px; }
nav a:link { color: white; }
nav a:visited { color: lightskyblue; }
nav a:hover { color: lightskyblue; }
aside { float: right; width: 250px; font-size: 80%; background-color: white; }
main { font-size: 80%; background-color: lightblue; }
main h3 { text-align: center; }
img { padding-left: 10px; padding-right: 10px; }
